@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import "tailwindcss";

:root {
  --bg-primary: #000;
  --text-primary: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Aldrich', sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  margin: 0;
}
